body {
    background-color:#4C0027;
    font-size: 10pt;
    margin: 0px;
}
a {
    margin:15px;
    color :white;
    text-decoration: none;
}

a:hover {
    color:yellow;
    text-decoration: none;
}
gt::before {
    content: "> ";
}
.boardhead{
    font-weight:bold;
}
#nav {
    height:25px;
    top-padding:10px;
    
    background-color:#750550;
    padding: 10px;
    font-size: 13pt;
    display: block;
}
#head {
    display: block;
    text-align: -webkit-center;
    max-width: 525px;
    margin: auto;
    margin-bottom: 3em;
    padding: 5px;
}
#head .motd {
    font-size: 11px;
    margin-top: 16px;
    text-align: left;
    display: block;
}
#head table {
    width: 100%;
    margin-bottom: 0.75em;
}
#content table {
    width: 100%;
    margin-bottom: 0.75em;
}
.center {
    display: block;
    text-align: -webkit-center;
    max-width: 525px;
    margin: auto;
    margin-bottom: 3em;
    padding: 5px;
}
#content {
    padding: 5px;
}
input {
    padding: 5px;
    border-radius: 0px;
    margin-bottom: 5px;
}
#banner {
    display: block;
    float: center;
    width: 270px;
    margin-top: 30px;
}
hr {
    border: none;
}
.left {
    text-align: left;
    float: left;
    display: inline-block;
}
.right {
    text-align: right;
    float: right;
    display: inline-block;
}
table {
    background-color:#750550;
    text-align: left;
    position: relative;
    padding: 10px;
    width:70%;
    height:50%;
    border : 5px solid white;
}
tr {
    background-color:#750550;
    margin: 0px;
    padding: 0px;
}
.head{
    color:
    background-color:#ADA991;
}
td {
    color:#ECDBBA;
    background-color:#750550;
    padding:0px;
    padding: 5px;
}
table,td,tr{
    border-color:#570530;
    border-radius:8px;
    }
td a {
    font-weight: bolder;
}
td a:hover {
    text-decoration: underline;
}

@media only screen and (max-device-width: 480px) {
    #nav {
        padding: 5px;
        font-size: 9pt;
        display: block;
        box-shadow: none;
    }
    #content {
        display: block;
        text-align: -webkit-center;
    }
}
#pageparam {
    display: none;
}

textarea {        
    padding: 5px;
    border-radius: 0px;
    margin-bottom: 5px;
    width: 75%;
}
table img {
    width: 100%;
}
#head h1,h2,h3 {
    letter-spacing: -0.06ch;
}
.overchanlink {
    font-weight: bold;
    margin-right: 10px;
}

